# Archivos de configuración y secretos
.env
config/secrets.php
config/*.json
*.key
*.pem

# Meta-datos de herramientas AI (No borrar, pero no subir)

# Carpetas de editores y sistema
.vscode/
.idea/
Thumbs.db
.DS_Store

# Temporales y logs
*.log
/vendor/
/node_modules/
error_log

# Archivos pesados y subidas
public/videos/
public/uploads/pfc/*
!public/uploads/pfc/.gitkeep
