Options -Indexes
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"

# Only allow GET and POST
<LimitExcept GET POST OPTIONS>
    Require all denied
</LimitExcept>
